// Copy this file to SharedSecrets.h and fill in your wifi SSID and password
#ifndef BLACKOUT_DETECT_O_MATIC_SHARED_SECRETS_H
#define BLACKOUT_DETECT_O_MATIC_SHARED_SECRETS_H

#define WIFI_SSID "your wifi ssid"
#define WIFI_PASSWORD "your wifi password"

#endif //BLACKOUT_DETECT_O_MATIC_SHARED_SECRETS_H
