// Copy this file to SharedSecrets.h and fill in your wifi SSID and password
#ifndef BLACKOUT_DETECT_O_MATIC_SHARED_SECRETS_H
#define BLACKOUT_DETECT_O_MATIC_SHARED_SECRETS_H

#define WIFI_SSID "your wifi ssid"
#define WIFI_PASSWORD "your wifi password"

#define NTP_SERVER "your ntp server" // e.g. "pool.ntp.org", "europe.pool.ntp.org", etc.
#define NTP_OFFSET 3600 // e.g. 3600 for UTC+1
#define NTP_UPDATE_INTERVAL 60000 // milliseconds, e.g. 60000 = 60 seconds

#endif //BLACKOUT_DETECT_O_MATIC_SHARED_SECRETS_H
